/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* body {
    background-color: black;
} */

/* all similar content styling codes */

.max-widthnav {
    /* max-width: 1300px; */
    padding-left:1rem;
    margin: auto;
}

/* navbarnav styling */
.navbarnav {
    position: fixed;
    width: 100%;
    z-index: 999;
    /* padding: 30px 0; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s;
}

.navbarnav.sticky {
    /* padding: 15px 0; */
    background: rgb(115, 124, 175);
}

.navbarnav .max-widthnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarnav .logo a {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.navbarnav .logo a span {
    color: rgb(115, 124, 175);
    transition: all 0.3s ease;
}

.navbarnav.sticky .logo a span {
    color: #fff;
}

.navbarnav .menu li {
    list-style: none;
    display: inline-block;
}

.navbarnav .menu li a {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 300px;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.navbarnav .menu li a.active {
    color: orange; /* Change the color when active */
}

.mainlogo {
    width: 9rem;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
    /* margin-top: .3rem; */
    margin: auto;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(16, 20, 46);
    ;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbarnav .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 120vh;
        right: 100%;
        top: 0;
        background: #111;
        text-align: right;
        transition: all 0.3s ease;
    }

    .navbarnav .menu.active {
        left: 50%;
    }

    .fas.menu.active {
        margin-right: 100px;
    }

    .navbarnav .menu li {
        display: block;
    }

    /* Add the color change for active list items */
    .navbarnav .menu li a:active {
        color: orange;
    }
}
