

#C {
    position: relative;
    /* top: 90%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* ul li {
    list-style: none;
} */
#footer {
    padding-top: 20px;
    background: #0f0101;
    /* padding: 15px 23px; */
    color: #fff;
    text-align: center;
    font: 1em sans-serif;
}


.anchor {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    /* margin: 0 10px; */
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.anchor:hover {
    box-shadow: 0 2px 5px rgba(96, 225, 22, 0.3);
    text-decoration: none;
}

.anchor .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}