 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

 /* body {
   font-family: 'Oswald', sans-serif;
   background-color: #212121;
 } */

 .ALLEVENT {
   width: 100%;
   /* max-width: 1200px; */
   padding: 3%;
   margin: 0 auto;
   /* background-image: linear-gradient(to top, #022709 0%, #041c02 100%); */

   background: linear-gradient(-45deg, #062701, #340215, #032f3e, #290125);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;


   @keyframes gradient {
     0% {
       background-position: 0 50%;
     }

     50% {
       background-position: 100% 50%;
     }

     100% {
       background-position: 0 50%;
     }
   }
 }

 .row12 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   align-items: center;
   gap: 20px;


 }

 @media screen and (max-width:1000px) {
   .row12 {
     display: grid;
     justify-content: center;
     grid-template-columns: 1fr;
   }
 }

 .alleventhead {
   padding-top: 80px;
   padding-bottom: 40px;
   text-align: center;
 }

 .card1234 {
   position: relative;
   height: 400px;
   width: 100%;
   /* margin: 10px; */
   transition: ease all 0s;
   perspective: 1200px;
 }

 .card1234:hover .cover {
   transform: rotateX(0deg) rotateY(-180deg);
 }

 .cover {
   position: absolute;
   height: 100%;
   width: 100%;
   transform-style: preserve-3d;
   transition: ease all 2.3s;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   /* margin: 10px; */
 }

 .cover:before {
   content: '';
   position: absolute;
   border: 4px solid rgba(255, 255, 255, .5);
   box-shadow: 0 0 12px rgba(0, 0, 0, .3);
   top: .6rem;
   left: .6rem;
   right: .6rem;
   bottom: .6rem;
   z-index: 2;
   transition: ease all 0s;
   transform-style: preserve-3d;
   transform: translateZ(0px);
 }

 .cover:after {
   content: '';
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 2;
   transition: ease all 0s;
   background: rgba(0, 0, 0, .4);
 }

 .cover.item-bhangra {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605998/bhangra_xdpqf9.png');
 }
 /* https: //drive.google.com/file/d/11RrfODAFEhwUCRY_MFOMocF19gdH4hgC/view?usp=drive_link */

 .cover.item-dance {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605998/dance_h1dbk3.jpg');
 }

 /*  https: //drive.google.com/file/d/19yPAChqGSRZa6WcQA8uoFlsDybt-SNlX/view?usp=drive_link*/

 .cover.item-fas {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605993/fas_javfwg.png');
 }

 /* https: //drive.google.com/file/d/1VkKSDD32BTSY4q6PydILk9yjsvAlOajY/view?usp=sharing */

 .cover.item-ladc {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605989/debate_jhvqag.png');
 }

 /* https: //drive.google.com/file/d/1PdcK2aSTAKRTErsvt4wVdx_bZWmV4spG/view?usp=sharing */


 .cover.item-movie {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605995/film_making_znivdr.png');
 }

 /* https: //drive.google.com/file/d/1rClNlrMM9HZG7Rrv2J53q5mL-a_DN0bU/view?usp=sharing */


 .cover.item-drama {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605993/dramatics_ghkzvv.png');
 }

 /* https: //drive.google.com/file/d/14Y3JaRn7TlCgwxGvRqP5ui1HoqT-UL3Z/view?usp=sharing */



 .cover.item-music {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708606005/music_qy7rgj.png');
 }

 /* https: //drive.google.com/file/d/1QMgjyl9MUQkyOSS4k2H2nB9mV09Svd7_/view?usp=sharing */

 .cover.item-fashion {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605999/panache_eumc6e.jpg');
 }

 /* https: //drive.google.com/file/d/1Bgrb4NW0ClTp5YF0GVukAhjkznQ1pYK9/view?usp=drive_link */


 .cover.item-photography {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605996/netra_skfvvd.png');
 }

 /* https: //drive.google.com/file/d/10ltMBsSxhwXW7zTB9FUnsay4tQAaW_4P/view?usp=sharing */


 .cover.item-the-quest {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605996/quest_gdxgaw.png');
 }

 /* https: //drive.google.com/file/d/1BuK66zHML7Qoj4Q9IT1tsE39UctT-uEQ/view?usp=sharing */


 .cover.item-rajbhasha {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605997/rajbhasa_dmz8yv.png');
 }

 /* https: //drive.google.com/file/d/19-siV0dFbBltfrIk__uMf9K7qCh5JG76/view?usp=sharing */

 .cover.item-sanskriti {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605995/sanskirit_kstzok.png');
 }

 /* https: //drive.google.com/file/d/1EN_Ww2iQPfoBf7go35vgI_BhdYwCdmD-/view?usp=sharing */


 .cover.item-regional-language-club {
   background-image: url('https://res.cloudinary.com/dijzvijky/image/upload/v1708605997/rlc_uecefj.png');
 }

 /* https: //drive.google.com/file/d/1XzhyO6lVZZTsFw-f9DqN_Dbp9_JmrK9u/view?usp=sharing */


 .cover.item-animation {
   background-image: url('https://drive.google.com/thumbnail?id=1KNee24af2fWyWOyqqJatna1XYmyKbMEK');
 }

 /*  */



 /*  */
 .cover h1 {
   font-weight: 600;
   position: absolute;
   bottom: 55px;
   left: 50px;
   color: white;
   transform-style: preserve-3d;
   transition: ease all 2.3s;
   z-index: 3;
   font-size: 3em;
   transform: translateZ(0px);
 }



 .card1234-back {
   position: absolute;
   height: 100%;
   width: 100%;
   background: #0b0f08;
   transform-style: preserve-3d;
   transition: ease all 0s;
   transform: translateZ(-1px);
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .card1234-back a {
   transform-style: preserve-3d;
   transition: ease transform 0s, ease background .5s;
   transform: translateZ(-1px) rotatey(-180deg);
   background: transparent;
   border: 1px solid white;
   font-weight: 200;
   font-size: 1.3em;
   color: white;
   padding: 14px 32px;
   outline: none;
   text-decoration: none;
 }

 .card1234-back a:hover {
   background-color: white;
   color: #0b0f08;
 }