 .galleryC {
 	width: 100%;
 	height: auto;
 	min-height: 30px;
 	display: flex;
 	overflow: hidden;
 	/* margin-bottom: 100px; */
 }

 .galleryX {
 	/* background: linear-gradient(rgba(68, 45, 78, 0.74), rgba(68, 45, 78, 0.74));
	 */
 	/* box-shadow: 0 0 94px 76px rgb(198, 71, 230); */
 }



 .gallery-sec {
 	position: relative;
 	z-index: 2;
 	width: 100%;
 	height: 100%;
 	border-radius: 10px;
 	overflow: hidden;
 	/* box-shadow: 0 0 94px 76px rgb(198, 71, 230);/ */
 }

 .gallery_container {
 	z-index: 100;
 	margin-top: 50px;
 	margin-bottom: 50px;
 	position: relative;
 	left: 50%;
 	z-index: 2;
 	transform: translate(-50%, 0%);
 	width: 80%;
 	height: 75vh;
 	border-radius: 10px;
 	box-shadow: 0 0 25px 30px rgba(167, 98, 231, 0.5);
 	/* Soft shadow */
 	overflow: hidden;
 }

 .titl {
 	/* box-shadow: 0 0 99px 6px rgb(198, 71, 230); */
 	background-color: transparent;
 }

 .gallery_container .slide-gallery .item-gallery {
 	width: 7vw;
 	height: 18vh;
 	position: absolute;
 	top: 80%;
 	right: 10% !important;
 	z-index: 99;
 	transform: translate(75%, -50%);
 	border-radius: 15px;
 	background-position: 50% 50%;
 	background-size: cover;
 	display: inline-block;
 	/* margin-right: 5%; */
 	transition: 0.5s;
 }

 .slide-gallery {
 	display: inline-block;
 	margin-left: 0%;
 }

 .slide-gallery .item-gallery:nth-child(1),
 .slide-gallery .item-gallery:nth-child(2) {
 	top: 0;
 	left: 0;
 	transform: translate(0, 0);
 	border-radius: 0;
 	width: 100%;
 	height: 100%;
 	border-radius: 10px;

 }


 .slide-gallery .item-gallery:nth-child(3) {
 	left: 50%;
 }

 .slide-gallery .item-gallery:nth-child(4) {
 	left: calc(50% + 100px);
 }

 .slide-gallery .item-gallery:nth-child(5) {
 	left: calc(50% + 200px);
 }

 /* here n = 0, 1, 2, 3,... */
 .slide-gallery .item-gallery:nth-child(n + 6) {
 	left: calc(50% + 300px);
 	opacity: 0;
 }



 .item-gallery .content-gallery {
 	position: absolute;
 	z-index: 99;
 	top: 50%;
 	left: 50%;
 	width: 20vw;
 	text-align: left;
 	color: #eee;
 	transform: translate(0, -50%) !important;
 	font-family: system-ui;
 	display: none;
 	border-radius: 10px;
 }


 .slide-gallery .item-gallery:nth-child(2) .content {
 	display: block;
 }


 .content-gallery,
 .name {
 	font-size: 40px;
 	text-transform: uppercase;
 	font-weight: bold;
 	opacity: 0;
 	animation: animate 1s ease-in-out 1 forwards;
 	border-radius: 10px;
 }

 .content-gallery .des {
 	margin-top: 10px;
 	margin-bottom: 20px;
 	opacity: 0;
 	animation: animate 1s ease-in-out 0.3s 1 forwards;
 }

 .content-gallery button {
 	padding: 10px 20px;
 	border: none;
 	cursor: pointer;
 	opacity: 0;
 	animation: animate 1s ease-in-out 0.6s 1 forwards;
 }


 @keyframes animate {
 	from {
 		opacity: 0;
 		transform: translate(0, 100px);
 		filter: blur(33px);
 	}

 	to {
 		opacity: 1;
 		transform: translate(0);
 		filter: blur(0);
 	}
 }



 .gallery_button {
 	display: flex;
 	align-items: center;
 	gap: 10px;
 	font-size: 20%;
 	/* width: 100%; */
 	text-align: center;
 	position: absolute;
 	bottom: 10%;
 	right: 50%;
 	z-index: 100;
 	margin-top: 1200px;
 }

 .gallery_button button {
 	background-color: #a4a2a2;
 	opacity: 0.8;
 	width: 50px;
 	height: 50px;
 	border-radius: 30%;
 	border: none;
 	cursor: pointer;
 	margin: 0 2%;
 	border: 0.2vw solid #000000;
 	transition: 0.3s;
 	font-size: 90%;
 }

 .prev-gallery,
 .next-gallery {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	font-size: 10%;
 	color: rgb(246, 6, 70);

 }

 .gallery_button button:hover {
 	background: #e6e6e6;
 	color: #fff;
 }

 @media (width <=947px) {
 	.galleryC {
 		width: 100%;
 		height: auto;
 		min-height: 30px;
 		display: flex;
 		overflow: hidden;
 		margin-bottom: 0px;
 	}

 	.gallery_container {
 		width: 90vw;
 		height: 60vw;
 		overflow: hidden;
 	}

 	.slide .item {
 		border-radius: 50%;
 		top: 50%;
 		left: 50%;
 		transform: translate(-50%, -50%);
 	}

 	.gallery_button {
 		bottom: 10%;
 		right: 40%;
 		transform: translate(-50%, -50%);
 	}

 	.gallery_container .slide-gallery .item-gallery {
 		width: 7vh;
 		height: 7vh;
 	}
.slide-gallery .item-gallery:nth-child(1),
.slide-gallery .item-gallery:nth-child(2) {
	top: 0;
	left: 0;
	transform: translate(0, 0);
	border-radius: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;

}

 }