#merchandise .single-tshirt-image{
    width: 40%;
    margin-right: 50px;
    margin-left: 50px;
    backdrop-filter: white(100%);
}

.small-tshirt-group{
    display: flex;
    justify-content: space-between;

}
.small-tshirt-col{
    flex-basis: 24%;
    cursor: pointer;
}

#merchandise{
    display: flex;
    margin-top: 10px;
}

#merchandise .single-tshirt-details{
    backdrop-filter: blur(15px);
    width: 60%;
    margin-right: 50px;
    padding: 30px;
    border-radius: 20px;
}

/* #merchandise .single-tshirt-details-container{
    filter: blur(8px);
    width: 60%;
    margin-right: 50px;
    padding-top: 30px;
} */

#merchandise .single-tshirt-details h2{
    padding: 0 0 20px 0;
    font-size: 50px;
}

#merchandise .single-tshirt-details h3{

}

#merchandise .single-tshirt-details h4{
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 12px;
}

#merchandise .single-tshirt-details button{
    margin-bottom: 10px;
    margin-top: 20px;
    width: 40%;
    align-items: center;
    height: 15%;
    border-radius: 12px;
    font-family: mountains;
    font-size: 30px;
    font-weight: 300;
}

#merchandise .single-tshirt-details select{
    display: block;
    padding: 5px 10px;
}

#merchandise .single-tshirt-details span{
    line-height: 25px;
    font-size: medium;
}

.heading{
    margin-top: 30px;
    width: 65%;
    font-size: 60px;
    font-weight: 400;
}

/* main image hover zoom effect */

#MainImg{
    transition: transform 0.3s ease-in-out;
}

#MainImg:hover{
    transform: scale(1.1);
}