.pronight_pro_night {
    /* margin-top: 20%; */
    width: 100% !important;
    height: auto !important;
    /* position: relative; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.pronight_pro_video {
    filter: brightness(75%);
    z-index: 0;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.revelbutton1 {
    position: absolute;
    top: 20%;
    width: 30%;
    left: 2%;
    height: 30vh;
    text-align: center;
    font-size: 18px;

    border-radius: 20px;
    background-color: rgb(164, 161, 161);
    /* color: black; */
    font-size: 40px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    /* color: black; */


}

.revelbutton2 {
    position: absolute;
    top: 20%;
    width: 30%;
    left: 36%;
    height: 30vh;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(164, 161, 161);
    /* color: black; */
    font-size: 40px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    /* color: black; */

}

.revelbutton3 {
    position: absolute;
    top: 20%;
    width: 30%;
    left: 69%;
    height: 30vh;
    text-align: center;
    /* font-size: 18px; */
    border-radius: 20px;
    /* background-color: rgb(164, 161, 161); */
    /* color: black; */
    font-size: 40px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    /* color: black; */


}

.revelbutton4 {
    position: absolute;
    top: 50%;
    width: 30%;
    left: 18%;
    height: 30vh;
    text-align: center;
    /* font-size: 18px; */
    border-radius: 20px;
    /* background-color: rgb(164, 161, 161); */
    /* color: black; */
    font-size: 40px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    /* color: black; */


}

.revelbutton5 {
    position: absolute;
    top: 50%;
    width: 30%;
    left: 51%;
    height: 30vh;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    /* background-color: rgb(164, 161, 161); */
    /* color: black; */
    font-size: 40px;
    opacity: 1;
    background: transparent;
    font-family: 'Times New Roman', Times, serif;
    /* color: black; */


}


.containerpro {
    position: relative;
}


.pronighthome {
    opacity: 0.5;
    z-index: 500;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 5.5vw;
    position: absolute;
    color: rgb(228, 225, 225);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    mix-blend-mode: color-dodge;
    display: flex;
    justify-content: center;
    transition: all ease 1.2s;

}

.pronight_title_pro {
    opacity: 1;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 5.5vw;
    position: absolute;
    color: rgb(228, 225, 225);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    mix-blend-mode: color-dodge;
    display: flex;
    justify-content: center;
    transition: all ease 1.2s;
}

.main_pro {
    opacity: 1;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    color: rgb(228, 225, 225);
    mix-blend-mode: color-dodge;
}

.pronight_card {
    object-fit: contain;
    width: 70vw;
    height: 15vw;
    padding: 1% 4%;
    z-index: 3;
    border-radius: 20px;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease-in 1.02s;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pronight_card img {
    object-fit: contain;
    width: 20vw;
    height: 20vh;
    border-radius: 30%;
    margin: 10%;
}

.pronight_card-title-p {
    font-size: 3rem;
    color: rgb(216, 215, 215);
    margin-left: 3%;
}

.pronight_arrow {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 3;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all ease-out 0.5;
}

.pronight_arrow img {
    margin: 0.2%;
    position: absolute;
    top: 50%;
    opacity: 1;
    color: rgb(217, 217, 217);
    width: 10vw;
    height: 10vh;
    transition: all linear 2;
}

.pronight_arrow p {
    font-size: 1.3vw;
    color: aliceblue;
    text-align: center;
}

.pronight_reveal_card {
    width: 15vw;
    height: 8.5vw;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pronight_reveal_card h2 {
    font-size: 2vw;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.pronight_reveal_card:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1.5em;
    width: 100%;
    border-bottom: 1.8px solid rgb(255, 255, 255);
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.pronight_reveal_card:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.main_text {
    font-size: 3.2rem;
    font-weight: 700;
}


@media (max-width: 947px) {

    .main_text {
        font-size: 1.4rem;
    }

    .prn {
        min-height: 87vh;
        background-color: black;
    }

    .prnv {
        padding-top: 55%;
        ;
    }

    .prnt {
        font-size: 1.5rem;
    }

    .prnc {
        margin-top: -25%;
        width: fit-content;
        padding: 20px;
    }

    .revelbutton {

        top: 57%;
        left: 35%;
        width: 30%;
        height: 5vh;
        border-radius: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;

    }


    .revelbutton1 {
        top: 15%;
        left: 7%;
        width: 40%;
        height: 5vh;
        border-radius: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;

    }

    .revelbutton2 {
        top: 20%;
        left: 53%;
        width: 40%;
        height: 5vh;
        border-radius: 20px;
        font-size: 18px;
        display: flex;
        justify-content: center;

    }

    .revelbutton3 {
        top: 45%;
        left: 7%;
        width: 40%;
        height: 5vh;
        border-radius: 20px;
        font-size: 17px;
        display: flex;
        justify-content: center;

    }

    .revelbutton4 {
        top: 45%;
        left: 53%;
        width: 40%;
        height: 5vh;
        border-radius: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;

    }

    .revelbutton5 {
        top: 70%;
        left: 30%;
        width: 40%;
        height: 5vh;
        border-radius: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;

    }


    .pronighthome {

        /* opacity: 0.5;
      
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 5.5vw;
        position: absolute;
        color: rgb(228, 225, 225); */
        top: 55%;
        left: 50%;
        /* transform: translate(-50%, -50%) scale(3);
        mix-blend-mode: color-dodge; */
        /* display: flex;
        justify-content: center;
        transition: all ease 1.2s; */

    }

}