* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.accomodation{
    
        background: linear-gradient(-45deg, #571c0b, #44041d, #053446, #02362a);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    

    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }

}



.containeraco87 {
    max-width: 1320px;
  
    padding: 0 2rem;
    height: 100%;
}

.gridaco {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 5%;
    padding: 5% 0;
    /* margin: auto; */
    justify-content: center;
}

.cardss {
    margin-top: 10px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.card_title {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px;
}

.pricing {
    font-weight: normal;
    font-size: 50px;
}

.pricing .small {
    font-size: 16px;
}

hr {
    margin-top: 10px;
}

.features {
    margin: 20px 0;
    list-style-position: inside;
}

.features li {
    padding-bottom: 10px;
}

a.cta_btn {
    width: 100%;
    height: 10%;
    display: inline-block;
    text-align: center;
    align-items: center;
    background: rgba(21, 23, 24, 0.7);
    border-radius: 10px;
    padding: 5px ;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    transition: background .3s ease;
}

a.cta_btn:hover {
    background: #000;
}

.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -99px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

@media only screen and (max-width: 1024px) {
    .gridaco {
        grid-template-columns: 1fr 1fr;
        gap: 2%;

    }
}

@media only screen and (max-width: 425px) {
    .gridaco {
        grid-template-columns: 1fr;
        gap: 2%;
        padding-bottom: 25%;
    }

    .containeraco87 {
        padding: 0 1rem;
    }

  

    .cardss{
        padding: 30px;
    }

    .card_title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .pricing {
        font-size: 52px;
    }

    hr {
        margin-top: 50px;
    }

    a.cta_btn {
        font-size: 11px;
    }
}