@tailwind base;
@tailwind components;
@tailwind utilities;
.drawer-toggle~.drawer-side>.drawer-overlay+* {
   z-index: 10;
   grid-column-start: -1;
   grid-row-start: 1;
   --tw-translate-x: 100%;
   transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
   transition-property: all;
   transition-duration:0ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
   position: relative;
   /* max-width: 1440px; */
   margin: auto;
}

.lafda {
   flex-direction: row;
}

.footer {
   display: flex;
   flex-direction: column;
   place-items: center;
   row-gap: 1rem;
}

.min-h-\[90vh\] {
   min-height: auto;
   /* width: 800px; */
}

.z-50 {
   z-index: 100999;
}

.absolute {
   position: fixed;
}

a {
   text-decoration: none;
}

.menu :where(li)> :where(*:not(ul)) {
   gap: 0.75rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   color: currentColor;
}