@tailwind base;
@tailwind components;
@tailwind utilities;
.drawer-toggle~.drawer-side>.drawer-overlay+* {
   z-index: 10;
   grid-column-start: -1;
   grid-row-start: 1;
   --tw-translate-x: 100%;
   transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
   transition-property: all;
   transition-duration:0ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
   position: relative;
   /* max-width: 1440px; */
   margin: auto;
   font-size: 18px;
}

.lafda {
   flex-direction: row;
}

.footer {
   display: flex;
   flex-direction: column;
   place-items: center;
   row-gap: 1rem;
}

.min-h-\[90vh\] {
   min-height: auto;
   /* width: 800px; */
}

.z-50 {
   z-index: 100999;
}

.absolute {
   position: fixed;
}

a {
   text-decoration: none;
}

.menu :where(li)> :where(*:not(ul)) {
   gap: 0.75rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   color: currentColor;
}
@font-face {
   font-family:'Castlefire';
   src: url(./Fonts/castlefire/Castlefire.ttf);
}

@font-face {
   font-family:'Times New Roman', Times, serif ;
   src: url(./Fonts/nu_creactivo_2008/N_FC_Creactivo_2008.ttf);
}
h1{

   font-family:Castlefire ;
}
.table :where(thead, tfoot) :where(th, td) {
   --tw-bg-opacity: 1;
   background-color: transparent;
   font-size: 0.75rem;
   line-height: 1rem;
   font-weight: 700;
   text-transform: uppercase;
}
.table :where(tbody th, tbody td) {
   --tw-bg-opacity: 1;
   background-color: transparent;
   
}
@media (max-width: 947px) {
   .table {
      --tw-bg-opacity: 1;
      background:linear-gradient(-45deg, #033036, #046a6e, #065751, #054839);
      font-size: 10px;
      /* line-height: 1rem;
      font-weight: 100; */
      text-transform: uppercase;
   }
   .th{
      font-size: 10px;
   }
   .td{
      font:1px
   }
   .table_wrapper{

   width:100%;
   overflow:scroll;
   margin: 0px;
   }

}

