

.each {
  display: flex;
  height: 25rem;
  flex-direction: row;
  /* overflow: scroll; */
  /* scrollbar-width: 500px; */
  flex-wrap: wrap;
  background-color: rgba(30, 143, 255, 0);
  /* border: 2px solid red; */
}

.each>div {
  align-self: center;
  /* background-color: #f1f1f1; */
  width: 20%;
  height: 15vh;
  margin: 1.5% 2.5% 1.5% 2.5%;
  text-align: center;
  /* line-height: 75px; */
  /* font-size: 30px; */
}

.heads {
   margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
}
.para {
  margin: 0px;
  text-align: center;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
}

.disablesection {
  display: none;
}




@media (max-width: 947px) {
  .each {
    height:25rem;

   overflow: scroll;
    flex-wrap: wrap;
    background-color: rgba(30, 143, 255, 0);
  }
  


  .each>div {
    width: 100%;
    height: 5rem;
    margin: 1.5% 2.5% 1.5% 2.5%;
    text-align: center;
    font-size: 30px;
    
  }
}