
    /* CSS code for styling and layout */
   


     .containercontact {
      display: flex;
      flex-direction:row;
      /* height: 100vh; */
      padding-top: 100px;
     
     
    } 

    .left-section {
      width: 50%;
      padding: 20px;
      /* height: 100vh; */
    }

    .right-section {
      width: 50%;
      padding: 20px;
      /* height: 100vh; */
    }

    .upper-section {
      height: 50%;
    }

    .lower-section {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      /* background-color: rgba(236, 236, 232, 0.315); */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    label {
      font-weight: bold;
      color:white;
    }

    input,
    select {
      padding: 5px;
      border: 1px solid #eae7e7;
      border-radius: 7px;
    }

    button {
      padding: 10px;
      border: none;
      background-color: #f0f0f0;
      color: rgb(103, 103, 103);
      cursor: pointer;
      width: 80%;
      border-radius: 10px;
      align-items: center;

    }

    .error {
      /* color: red; */
      font-style: italic;
    }

    .success {
      color: green;
      font-weight: bold;
    }

    .nav-bar {
      height: 80px;
      /* A space for the nav bar */
    }

    @media only screen and (max-width: 600px) {

      .containercontact {
        flex-direction: column;
      }

      .left-section,
      .right-section {
        width: 100%;
      }

      .upper-section,
      .lower-section {
        height: auto;
      }

      form {
        margin: 10px;
      }

      label,
      input,
      select,
      button {
        font-size: 1.2em;
      }
    }

    /* CSS code for the modal dialog */

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    /* Style the modal content element */
    .modal-content {
      background-color: white;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
    }

    /* Style the close element */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    /* Change the color of the close element on hover */
    .close:hover,
    .close:focus {
      color: rgb(96, 19, 19);
      text-decoration: none;
      cursor: pointer;
    }

    /* Style the form element */
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    /* Style the label element */
    label {
      font-weight: bold;
    }

    /* Style the input element */
    input {
      padding: 5px;
      border: 1px solid #ccc;
    }

    /* Style the button element */
    button {
      padding: 10px;
      border: none;
      background-color: #f0f0f0;
      color: rgb(119, 119, 119);
      cursor: pointer;
      margin: auto
    }

    .qrimg {
      width: 40vh;
      height: 40vh;
      vertical-align: middle;
      margin: auto;
    }
