.merchandise {

    padding-top: 70px;

}

.image_container {

    width: 100%;

}

#merchandise .single-tshirt-image {
    width: 40%;
    /* height: 300px; */
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
    backdrop-filter: white(100%);

}

.small-tshirt-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.small-tshirt-col {
    border: 1px solid white;
    flex-basis: 24%;
    cursor: pointer;
    /* width:100px; */
    height: 100px;
    overflow: hidden;
}

#merchandise {
    display: flex;
    /* margin-top: 10px; */
}

#merchandise .single-tshirt-details {
    backdrop-filter: blur(15px);
    width: 60%;
    margin-right: 50px;
    padding: 30px;
    border-radius: 20px;
}


#merchandise .single-tshirt-details h2 {
    padding: 0 0 20px 0;
    font-size: 50px;
}

#merchandise .single-tshirt-details h3 {}

#merchandise .single-tshirt-details h4 {
    font-size: 20px;
    /* margin-top: 17px; */
    margin-bottom: 12px;
}

#merchandise .single-tshirt-details button {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 40%;
    align-items: center;
    height: 15%;
    border-radius: 12px;
    font-family: mountains;
    font-size: 30px;
    font-weight: 300;
}

#merchandise .single-tshirt-details select {
    display: block;
    padding: 5px 10px;
}

#merchandise .single-tshirt-details span {
    line-height: 25px;
    font-size: medium;
}

.heading {
    margin-top: 30px;
    width: 65%;
    font-size: 60px;
    font-weight: 400;
}

/* main image hover zoom effect */

#MainImg {
    transition: transform 0.3s ease-in-out;
    width: 200px;
    height: 250px;
    margin: auto;
}

#MainImg:hover {
    transform: scale(1.1);
}

@media (max-width: 947px) {

    .merchandise {

        padding-top: 70px;

    }

    .image_container {

        width: 100%;

    }

    #merchandise .single-tshirt-image {
        width: 100%;
        /* height: 300px; */
        margin-right: 50px;
        /* margin-left: 50px; */
        padding-top: 50px;
        backdrop-filter: white(100%);

    }

    .small-tshirt-group {
        padding: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

    }

    .small-tshirt-col {
        border: 1px solid white;
        flex-basis: 24%;
        cursor: pointer;
        /* width:100px; */
        height: 80px;
        overflow: hidden;
    }

    #merchandise {
        display: flex;
        flex-direction: column;
    }

    #merchandise .single-tshirt-details {
        backdrop-filter: blur(15px);
        width: 100%;
        margin-right: 50px;
        padding: 30px;
        border-radius: 20px;
    }


    #merchandise .single-tshirt-details h2 {
        padding: 0 0 20px 0;
        font-size: 20px;
    }

    #merchandise .single-tshirt-details h3 {}

    #merchandise .single-tshirt-details h4 {
        font-size: 20px;
        /* margin-top: 17px; */
        margin-bottom: 12px;
    }

    #merchandise .single-tshirt-details button {
        margin-bottom: 10px;
        margin-top: 20px;
        width: 80%;
        align-items: center;
        height: 15%;
        border-radius: 12px;
        font-family: mountains;
        font-size: 20px;
        font-weight: 300;
    }

    #merchandise .single-tshirt-details select {
        display: block;
        padding: 5px 10px;
    }

    #merchandise .single-tshirt-details span {
        line-height: 25px;
        font-size: medium;
        text-align:right;
    }

    .heading {
        margin-top: 30px;
        width: 65%;
        font-size: 60px;
        font-weight: 400;
    }

    /* main image hover zoom effect */

    #MainImg {
        transition: transform 0.3s ease-in-out;
        width: 200px;
        height: 250px;
        margin: auto;
    }

    #MainImg:hover {
        transform: scale(1.1);
    }




}