.hidden-div {
    display: none;
    /* Hidden by default */
}

/* Media query for screen sizes less than or equal to 947px */
@media (max-width: 947px) {
    .hidden-div {
        display: block;
        /* Display the div when screen size is less than or equal to 947px */
    }
}

.drawer {
    right: 0;
    /* background-color: antiquewhite; */
    /* background: linear-gradient(-45deg, #190b07, #110208, #08151a, #051814); */
}

.drawer-side {
    /* Adjust the alignment to start from the right side */
    right: 0;
    /* Adjust as needed */
}
.margin_km_kro{
    margin-bottom: 0;
    border: 1px solid white;
}
.drawer-content{

    background: linear-gradient(-45deg, #190b07, #110208, #08151a, #051814);
}